<div>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Length</th>
			<th>Rating</th>
			<th></th>
		</tr>
		<tr ng-repeat="movie in vm.movies">
			<th>{{movie.title}}</th>
			<th>{{movie.length}}</th>
			<th>
				<movie-rating value="movie.rating" max="5" set-rating="vm.setRating(movie, value)">
				</movie-rating>
			</th>
			<th>
					<button class="btn btn-default" ng-click="vm.upRating(movie)">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button class="btn btn-default" ng-click="vm.downRating(movie)">
						<span class="glyphicon glyphicon-minus"></span>
					</button>

					<a ng-link="['Details', {id: movie.id}, 'Overview']" class="btn btn-default">
						<span class="glyphicon glyphicon-zoom-in"></span>
					</a>
					<!-- Option two instead of ng-link
					<button ng-click="vm.goTo(movie.id)" class="btn btn-default">
						<span class="glyphicon glyphicon-zoom-in"></span>
					</a>


					-->
			</th>			
		</tr>
	</table>

	<accordion>
		<accordion-panel heading="Panel 1">
			This is panel 1
		</accordion-panel>
		<accordion-panel heading="Panel 2">
			This is panel 2
		</accordion-panel>
	</accordion>
</div>